html, body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.tela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 1s ease-out;
}

h1 {
    font-size: 4rem;
}

body {
    background: linear-gradient(to bottom, #3498db, #ffffff);
}

.start {
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 1.2rem;
}

.start:hover {
    background-color: #FFB3D9;
    cursor: pointer;
}

.tela.subir {
    margin-top: -100vh;
}